#insideContent, #developerContent
{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

/*
#aboutContent, #historyContent, #missionVisionContent, #developerContent
{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
*/

#missionVisionContent div
{
    display: inline-block;
    padding: 20px;
    max-width: 45%;
}

input
{
    cursor: pointer;
}

#developerContent a
{
    text-decoration: none;
}