#innerBody
{
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}

#faqContent
{
    background-color: rgba(255, 255, 255, .8);
}